<h1 id="header-1">John's Jawn On The Web</h1>

<p style="display:inline;">
    Thanks for checking out my page! I'm an Engineering Lead at
    <a target="_blank" rel="noopener noreferrer" href="https://www.zaxisconnector.com" style="display:inline;color:red;">Z-Axis Connector</a>,
    where I design and build custom hardware, software, firmware, test equipment, and manufacturing systems for
    <a href="https://en.wikipedia.org/wiki/Elastomeric_connector" style="display:inline;color:red;">elastomeric connectors</a>
    and electronic interconnect applications.
</p>

<br>
<br>

<p style="display:inline;">
    My work sits at the intersection of embedded systems, industrial automation, computer vision, machine control,
    and production software. I enjoy building real tools that solve real manufacturing problems.
</p>

<br>
<br>

<p style="display:inline;">
    I graduated with a Computer Science degree from
    <a target="_blank" rel="noopener noreferrer" href="https://cis.temple.edu" style="display:inline;color:red;">Temple University</a>
    in 2022. Cherry on!
</p>

<br>
<br>

<p style="display:inline;">
    I'm also building
    <a target="_blank" rel="noopener noreferrer" href="https://ziot-systems.github.io" style="display:inline;color:red;">ZIoT Systems</a>,
    focused on industrial monitoring, test hardware, traceability, and production data systems.
</p>

<br>
<br>

<p style="display:inline;">
    One of my open-source projects is
    <a target="_blank" rel="noopener noreferrer" href="https://jglatts.github.io/SerialWedge/" style="display:inline;color:red;">SerialWedge</a>,
    a Windows utility for capturing serial, RS232, and USB-to-UART device data and sending it into applications like Excel.
    You can view the code on
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/jglatts/SerialWedge" style="display:inline;color:red;">GitHub</a>.
</p>

<br>
<br>

<p style="display:inline;">
    Check out my projects, links, and engineering work below.
</p>
